<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Humberger Begin -->
<span id="itemAddMessage"></span>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header pb-3">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><a href="/"><img src="../user/img/logo.png" alt="" title="MyStore"></a></li>
                            <li>Free Shipping for all Order of ₹99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social header__cart">

                            <ul>
                                <li><a href="/gp/wishlist"><i class="fa fa-heart"></i><i id="wishListCount">
                                    <% if(wishlistCount){%><span><%=wishlistCount[0].count%></span><% } %>
                                </i></a></li>
                                <li><a href="/gp/cart"><i class="fa fa-shopping-bag"></i> 
                                    <i id="cartCount"><% if(cartCount){%><span><%=cartCount[0].count%></span><% } %></i></a></li>
                            </ul>

                        </div>
                            <% if(userFullname) { %>
                                <div class="header__top__right__language">
                                    <i class="fa fa-user"></i>&nbsp;
                                    <div> <%= userFullname %></div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="/account/profile"><i class="fa fa-user"></i>&nbsp; My Profile</a></li>
                                        <li><a href="/gp/cart"><i class="fa fa-shopping-bag"></i> &nbsp;Cart</a></li>
                                        <li><a href="/gp/wishlist"><i class="fa fa-heart"></i> &nbsp;Whishlist</a></li>
                                        <li><a href="/ap/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                                    </ul>
                                </div>
                            <% }else { %>
                                <div class="header__top__right__auth">
                                    <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i>Login
                                    </a>
                                </div> 
                           <%  } %>    
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" style="overflow-y:auto;" role="dialog"
    aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="loginModalTitle">Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Get access to your Orders and Wishlist</p>
                <div class="contact-form spad">
                    <div class="container">
                        <form action="/ap/login" method="post" id="loginForm">
                            <div class="row">
                                <div class="col-12">
                                    <span id="loginErr" class="text-danger"></span>
                                    <span id="loginEmailErr" class="text-danger"></span>
                                    <input type="email" name="loginEmail" id="loginEmail" placeholder="Your email"
                                        required>
                                </div>
                                <div class="col-12">
                                    <span id="loginPasswordErr" class="text-danger"></span>
                                    <input type="password" name="loginPassword" id="loginPassword" placeholder="Password"
                                        required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p><a href="" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">You are New Here?
                        Create an Account</a></p>
                <p class="text-right"><a href="">Forgot Password?</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" onclick="loginValidate()">Login</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" style="overflow-y:auto;" role="dialog"
    aria-labelledby="signupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="signupModalTitle">Create New Account</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="refreshModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Signup with email to get started</p>
                <div class="contact-form spad">
                    <div class="container">
                        <form action="/ap/signup" method="post" onsubmit="return signupValidate()" id="signupForm">
                            <div class="row">
                                <div class="col-12">
                                    <span id="emailErr" class="text-danger"></span>
                                    <input type="text" name="userEmail" id="userEmail" placeholder="Your email">
                                </div>
                                <div id="signupBody" style="width:100%"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="text-right"><a href="" data-toggle="modal" data-target="#loginModal" data-dismiss="modal"
                        onclick="refreshModal()">Existing User? Login</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    onclick="refreshModal()">Cancel</button>
                <div id="submitButton">
                    <input type="button" class="btn btn-primary" id="confirmButton" value="Next"
                        onclick="generateOtp()">
                </div>
            </div>
        </div>
    </div>
</div>
<span id="signupUsernameErr" style="display:none;"></span>
<span id="signupPasswordErr" style="display:none;"></span>
<!-- Header Section End -->

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span id="selectedCategory">All departments</span>
                    </div>
                    <div id="innerCategory">
                    <ul>
                        <% allCategories.forEach((category)=> { %>
                            <li onclick="loadSubcategory('<%=category._id%>')"><span>
                                    <%= category.categoryName %>
                            </span></li>
                            <% }) %>
                    </ul>
                </div>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/search" method="post">
                            <input type="text" id="searchContent" name="searchContent" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+91 960 502 7896</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>