<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyStore | Products</title>
    <link rel="icon" type="image/x-icon" href="../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/style.css" type="text/css">
</head>

<body>
    <!-- Imported Header Contents -->
    <%- include('../partials/user/userNavbar') %>
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="../uploads/<%=product.productImage%>" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="product__details__text">
                        <h3><%=product.productName%></h3>
                        <div class="product__details__price">₹<%=(product.productPrice).toFixed(2)%></div>
                        <p><%=product.productDescription%></p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty1">
                                    <span class="dec qtybtn" onclick="changeQuantity('sub')">-</span>
                                    <input type="text" id="quantity" value="1">
                                    <span class="inc qtybtn" onclick="changeQuantity('add')">+</span>
                                </div>
                            </div>
                        </div>
                        <i class="heart-icon" onclick="addToWishlist('<%=product._id%>')"><span class="icon_heart_alt"></span></i>
                        <br/>
                        <span class="primary-btn mt-3" onclick="addQuantityToCart('<%=product._id%>','cart')" style="cursor:pointer">ADD TO CART</span>
                        <span class="primary-btn" onclick="addQuantityToCart('<%=product._id%>','buy')" style="cursor:pointer">BUY NOW</span>
                        <ul>
                            <li><b>Availability</b> 
                                <% if(product.productStock > 0){ %><span>In Stock</span> <% } else {%>
                                    <span class="text-danger">Out of Stock</span> <% } %>
                            </li>
                            <li><b>Shipping</b> <span>Same day. <samp>or Next day</samp></span></li>
                            <li><b>MRP</b> <span><%= product.productMrp %></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4 class="mt-4 mb-4">Related Product</h4>
                    <% if(relatedProducts.length > 0) { %>
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../uploads/<%=relatedProducts[0].productImage%>">
                            <ul class="product__item__pic__hover">
                                <li onclick="addToWishlist('<%=relatedProducts[0]._id%>')"><span><i class="fa fa-heart"></i></span></li>
                                <li title="Add to cart" onclick="addToCart('<%=relatedProducts[0]._id%>')"><span><i class="fa fa-shopping-cart"></i></span></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/product/<%=relatedProducts[0]._id%>"><%= relatedProducts[0].productName %></a></h6>
                            <h5>₹<%= (relatedProducts[0].productPrice).toFixed(2) %></h5>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Legal Disclaimer</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <p>MyStore ensure the accuracy of information about the product. The actual
                                        packing and materials may contain more and different information which may
                                        include nutrition information/direction of use/warning etc. We recoment recoment
                                        consumers always read the label bafore using or consuming the product.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% if(relatedProducts.length > 1) { 
                    count = 0;
                    relatedProducts.forEach((product)=> { 
                        ++count;
                        if(count != 1) {
                    %>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../uploads/<%=product.productImage%>">
                            <ul class="product__item__pic__hover">
                                <li onclick="addToWishlist('<%=product._id%>')"><span><i class="fa fa-heart"></i></span></li>
                                <li title="Add to cart" onclick="addToCart('<%=product._id%>')"><span><i class="fa fa-shopping-cart"></i></span></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/product/<%=product._id%>"><%= product.productName %></a></h6>
                            <h5>₹<%=(product.productPrice).toFixed(2)%></h5>
                        </div>
                    </div>
                </div>
                <% } }) } %>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
    <!-- Imported Footer -->
    <%- include('../partials/user/userFooter') %>
    <!-- Cart and Wishlist Controles -->
    <script src="../user/javascripts/addToCart.js"></script>
    <script src="../user/javascripts/addToWishlist.js"></script>
    <!-- Login/signup and Category Menu Loading -->
    <script src="../user/javascripts/loginSignup.js"></script>
    <script src="../user/javascripts/homeMenuLoad.js"></script>
    <!-- Js Plugins -->
    <script src="../user/js/jquery-3.3.1.min.js"></script>
    <script src="../user/js/bootstrap.min.js"></script>
    <script src="../user/js/jquery.nice-select.min.js"></script>
    <script src="../user/js/jquery-ui.min.js"></script>
    <script src="../user/js/jquery.slicknav.js"></script>
    <script src="../user/js/mixitup.min.js"></script>
    <script src="../user/js/owl.carousel.min.js"></script>
    <script src="../user/js/main.js"></script>

</body>
</html>