<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyStore | OrderDetails</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Alert Message -->
<span id="itemAddMessage"></span>

<!-- Header Section Begin -->
<header class="header pb-3">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><a href="/"><img src="../../../user/img/logo.png" alt="MyStore" title="MyStore"></a></li>
                            <li>Free Shipping for all Order of ₹99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social header__cart">

                            <ul>
                                <li><a href="/gp/wishlist"><i class="fa fa-heart"></i><i id="wishListCount">
                                    <% if(wishlistCount){%><span><%=wishlistCount[0].count%></span><% } %>
                                </i></a></li>
                                <li><a href="/gp/cart"><i class="fa fa-shopping-bag"></i> 
                                    <i id="cartCount"><% if(cartCount){%><span><%=cartCount[0].count%></span><% } %></i></a></li>
                            </ul>

                        </div>
                            <% if(userFullname) { %>
                                <div class="header__top__right__language">
                                    <i class="fa fa-user"></i>&nbsp;
                                    <div> <%= userFullname %></div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="/account/profile"><i class="fa fa-user"></i>&nbsp; My Profile</a></li>
                                        <li><a href="/gp/cart"><i class="fa fa-shopping-bag"></i> &nbsp;Cart</a></li>
                                        <li><a href="/gp/wishlist"><i class="fa fa-heart"></i> &nbsp;Whishlist</a></li>
                                        <li><a href="/ap/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                                    </ul>
                                </div>
                            <% }else { %>
                                <div class="header__top__right__auth">
                                    <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i>Login
                                    </a>
                                </div> 
                           <%  } %>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" style="overflow-y:auto;" role="dialog"
    aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="loginModalTitle">Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Get access to your Orders and Wishlist</p>
                <div class="contact-form spad">
                    <div class="container">
                        <form action="/ap/login" method="post" id="loginForm">
                            <div class="row">
                                <div class="col-12">
                                    <span id="loginErr" class="text-danger"></span>
                                    <span id="loginEmailErr" class="text-danger"></span>
                                    <input type="email" name="loginEmail" id="loginEmail" placeholder="Your email"
                                        required>
                                </div>
                                <div class="col-12">
                                    <span id="loginPasswordErr" class="text-danger"></span>
                                    <input type="password" name="loginPassword" id="loginPassword" placeholder="Password"
                                        required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p><a href="" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">You are New Here?
                        Create an Account</a></p>
                <p class="text-right"><a href="">Forgot Password?</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" onclick="loginValidate()">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- Login Modal End -->
<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" style="overflow-y:auto;" role="dialog"
    aria-labelledby="signupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="signupModalTitle">Create New Account</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="refreshModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Signup with email to get started</p>
                <div class="contact-form spad">
                    <div class="container">
                        <form action="/ap/signup" method="post" onsubmit="return signupValidate()" id="signupForm">
                            <div class="row">
                                <div class="col-12">
                                    <span id="emailErr" class="text-danger"></span>
                                    <input type="text" name="userEmail" id="userEmail" placeholder="Your email">
                                </div>
                                <div id="signupBody" style="width:100%"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="text-right"><a href="" data-toggle="modal" data-target="#loginModal" data-dismiss="modal"
                        onclick="refreshModal()">Existing User? Login</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    onclick="refreshModal()">Cancel</button>
                <div id="submitButton">
                    <input type="button" class="btn btn-primary" id="confirmButton" value="Next"
                        onclick="generateOtp()">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Signup Modal End -->
<span id="signupUsernameErr" style="display:none;"></span>
<span id="signupPasswordErr" style="display:none;"></span>
<!-- Category Menu -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span id="selectedCategory">All departments</span>
                    </div>
                    <div id="innerCategory">
                    <ul>
                        <% allCategories.forEach((category)=> { %>
                            <li onclick="loadSubcategory('<%=category._id%>')"><span>
                                    <%= category.categoryName %>
                            </span></li>
                            <% }) %>
                    </ul>
                </div>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/search" method="post">
                            <input type="text" id="searchContent" name="searchContent" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+91 960 502 7896</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Menu End-->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../../user/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Order Successfully Placed</h2>
                        <div class="breadcrumb__option">
                            <a href="/account/myorder/orderDetails/<%=orderList[0]._id%>">Order Id</a>
                            <% if(orderList.length > 0 ) { %>
                            <span>#<%=orderList[0].orderId %></span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Content Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <p><b>Delivery Address - </b><% if(orderList.length > 0 ) { %>
                    <%=orderList[0].address[0].fullName%> - <%=orderList[0].address[0].mobileNumber%>,
                        <%=orderList[0].address[0].locality%>, <%=orderList[0].address[0].address%>, <%=orderList[0].address[0].pincode%>, <%=orderList[0].address[0].district%>,
                        <%=orderList[0].address[0].state%>
                    <% } %></p>
                </div>
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% 
                                if(orderList.length > 0) { 
                                    orderList.forEach((orderedItems)=>{ 
                                    %>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="../../uploads/<%= orderedItems.product[0].productImage %>" alt="" style="width:100px;height:auto">
                                        <h5><%= orderedItems.product[0].productName %></h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        <%= (orderedItems.product[0].productPrice).toFixed(2) %>
                                    </td>
                                    <td class="shoping__cart__price">
                                        <%= orderedItems.itemQuantity %>
                                    </td>
                                    <td class="shoping__cart__total" id="eachTotal<%=orderedItems.item%>">
                                         <%= (orderedItems.product[0].productPrice * orderedItems.itemQuantity).toFixed(2)  %>
                                    </td>
                                </tr>
                                <% }) }else { %>
                                    <tr>
                                        <td colspan="4"><h3>There is no order</h3></td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <% if(orderList.length > 0) { 
                                subTotal = (orderList[0].totalAmount) - (orderList[0].deliveryCharge) + (orderList[0].discount) %>
                            <li>Subtotal <span id="subTotal">₹<%= (subTotal).toFixed(2) %></span></li>
                            <li style="text-decoration:none;font-weight:200;">DeliveryCharge <span>₹<%= (orderList[0].deliveryCharge).toFixed(2) %></span></li>
                            <li style="text-decoration:none;font-weight:200;">Discount <span>₹<%= (orderList[0].discount).toFixed(2) %></span></li>
                            <li>Total <span id="total">₹<%= (orderList[0].totalAmount).toFixed(2) %></span></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->
    <!-- Imported Footer -->
    <%- include('../../partials/user/userFooter') %>
    <!-- Login/signup and Category Menu Loading -->
    <script src="../../user/javascripts/loginSignup.js"></script>
    <script src="../../user/javascripts/homeMenuLoad.js"></script>
    <!-- Cart and Wishlist Controles -->
    <script src="../../user/javascripts/cartControl.js"></script>
    <!-- Js Plugins -->
    <script src="../../user/js/jquery-3.3.1.min.js"></script>
    <script src="../../user/js/bootstrap.min.js"></script>
    <script src="../../user/js/jquery.nice-select.min.js"></script>
    <script src="../../user/js/jquery-ui.min.js"></script>
    <script src="../../user/js/jquery.slicknav.js"></script>
    <script src="../../user/js/mixitup.min.js"></script>
    <script src="../../user/js/owl.carousel.min.js"></script>
    <script src="../../user/js/main.js"></script>
</body>
</html>