<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>MyStore | New Sucategory</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
<!-- CSS Files Included -->
    <%- include('../../partials/admin/adminCss') %>
</head>
<body class="crm_body_bg">
   <!-- Navbar Included -->
    <%- include('../../partials/admin/adminNavbar') %>
    <section class="main_content dashboard_part large_header_bg">
        <!-- Header Included -->
        <%- include('../../partials/admin/adminHeader') %>
        <!-- Content Section Begin  -->
        <div class="main_content_iner ">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="dashboard_header mb_30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dashboard_header_title">
                                        <h3>New Sub-Category</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dashboard_breadcam text-end">
                                        <p><a href="/admin/dashboard">Dashboard</a> <i class="fas fa-caret-right"></i>Add
                                            Sub-Category</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="white_box mb_30">
                            <div class="row justify-content-center">
                                <div id="checkResult"></div>
                                <div class="col-lg-6">
                                    <div class="modal-content cs_modal">
                                        <div class="modal-body">
                                            <form method="post" action="/admin/subCategory/addSubCategory" enctype="multipart/form-data" onsubmit="return validateSubCategory()">
                                                <div class="row">
                                                    <% if(errMsg) { %>
                                                        <div class="alert alert-danger" role="alert" id="requiredErr">
                                                            <%= errMsg %>
                                                          </div>
                                                      <% } %>
                                                    <div class="col-md-12 mb-3">
                                                        <label class="form-label" for="inputState">Select Category <span id="categoryErr" class="text-danger"></span></label>
                                                        <select name="categoryId" id="categoryId" class="form-control" onchange="subCategoryExistCheck()">
                                                            <option value="" selected>Choose...</option>
                                                            <% if(category.length > 0) { 
                                                                category.forEach((val)=> { %>
                                                                    <option value="<%= val._id %>"><%= val.categoryName %></option>
                                                                    
                                                                <% })} %>
                                                        </select>
                                                    </div>
                                                <div class="col-mb-12">
                                                    <label class="form-label" for="inputState">Sub-Category Name <span id="subCategoryErr" class="text-danger"></span></label>
                                                    <input type="text" id="subCategoryText" name="subCategoryName" onkeyup="subCategoryExistCheck()" class="form-control"  placeholder="Please Enter" required>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label class="form-label" for="productMrp">Sub-Category Image <span id="subImageErr" class="text-danger"></span><span class="text-danger" id="imageErr"></span></label>
                                                    <div class=" mb-0">
                                                        <input type="file" name="subCategoryImage" class="" id="subCategoryImage">
                                                    </div>
                                                </div>
                                            </div>
                                                <button type="submit" id="submitButton" class="btn_1 full_width text-center"> Add</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Section End -->
        <!-- Footer Included -->
        <%- include('../../partials/admin/adminFooter') %>
    </section>
    <!-- Checking Already Exist Subcategory -->
    <script src="../../../admin/javascript/existCheck.js"></script>
    <!-- Validating Subcategory Form -->
    <script src="../../../admin/javascript/adminSubCategory.js"></script>
    <!-- JS Files Included  -->
    <%- include('../../partials/admin/adminJs') %>
</body>
</html>