<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyStore | MyProfile</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/style.css" type="text/css">
</head>

<body>
    <!--Imported Header Content-->
    <%- include('../../partials/user/userNavbar') %>
    <!-- Content Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4><a class="text-dark" href="/account/myorder">My Orders <i class="fa fa-angle-double-right"></i></a></h4>
                            <hr/>
                            <h4>Account Settings</h4>
                            <ul>
                                <li><a class="text-primary" href="/account/profile">Profile Information</a></li>
                                <li><a href="/account/address">Manage Addresses</a></li>
                                <li><a href="/account/password">Change Password</a></li>
                            </ul><br/><hr/>
                            <h6><a class="text-dark" href="/ap/logout">Logout <i class="fa fa-sign-out"></i></a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        <div class="col-6">
                            <form action="/account/profile/update" method="post" onsubmit="return validateProfile()">
                                <div class="form-group">
                                  <label for="fullName">Fullname <span class="text-danger" id="nameErr"></span></label>
                                  <input type="text" class="form-control" id="fullName" name="fullName" value="<%=profileDetails.userName%>" placeholder="Fullname" readonly>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender1" value="male" <% if(profileDetails.gender == 'male'){%> checked <% } %> disabled>
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender2" value="female" <% if(profileDetails.gender == 'female'){%> checked <% } %> disabled>
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender3" value="other" <% if(profileDetails.gender == 'other'){%> checked <% } %> disabled>
                                    <label class="form-check-label" for="inlineRadio3">Other</label>
                                  </div>
                                <div class="form-group">
                                  <label for="email">Email Address <span class="text-danger" id="EmailErr"></span></label>
                                  <input type="email" class="form-control" id="email" name="email" value="<%=profileDetails.userEmail%>" placeholder="Email" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="email">Mobile Number</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" value="<%=profileDetails.userMobile%>" placeholder="Mobile Number" readonly>
                                  </div>
                                  <p>If you update your email address, your login email will change. 
                                    If email already exist the updation will fail(better to keep same email).</p>
                                <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Update</button> <span id="edit"><span class="text-primary" style="cursor:pointer">&nbsp; Edit</span></span>
                              </form>
                              <input type="hidden" id="editType" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->
    <!-- Imported Footer-->
    <%- include('../../partials/user/userFooter') %>
    <!-- Footer Section End -->
    <!-- Profile Edit Enable and Validate Profile-->
    <script src="../../user/javascripts/profileEditEnable.js"></script>
    <!-- Category Menu Loading -->
    <script src="../../user/javascripts/homeMenuLoad.js"></script>
    <!-- Cart Controles -->
    <script src="../../user/javascripts/cartControl.js"></script>
    <!-- Js Plugins -->
    <script src="../../user/js/jquery-3.3.1.min.js"></script>
    <script src="../../user/js/bootstrap.min.js"></script>
    <script src="../../user/js/jquery.nice-select.min.js"></script>
    <script src="../../user/js/jquery-ui.min.js"></script>
    <script src="../../user/js/jquery.slicknav.js"></script>
    <script src="../../user/js/mixitup.min.js"></script>
    <script src="../../user/js/owl.carousel.min.js"></script>
    <script src="../../user/js/main.js"></script>
</body>
</html>